@import '/src/scss/assets/vars';

.row-title {
  position: relative;
  margin-bottom: 50px;
  margin-left: 1rem;
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 400;

  &::after {
    content: '';
    position: absolute;
    left: -1rem;
    transform: rotate(25deg);
    width: 5px;
    height: 100%;
    background-color: $clr-red;
  }
}

.row {
  justify-content: space-around !important;
  align-items: flex-start !important;

  &-item {

    img {
      max-width: 294px;
    }

    h4 {
      margin-top: 50px;
      font-weight: 400;
      font-size: $fs-medium;
      max-width: 200px;
    }
  }
}

@media (max-width: 1024px) {

  .row-title {
    font-size: $fs-medium;
  }

  .row {

    &-item {

      img {
        max-width: 200px;
      }

      h4 {
        font-size: 1.25rem;
      }
    }
  }
}

@media (max-width: 480px) {

  .row-title {
    font-size: 1.25rem;
    margin: 0 0 50px 1rem;
    white-space: nowrap;
  }

  .row {

    &-item {

      img {
        max-width: 84px;
        height: 84px;
        object-fit: contain;
      }

      h4 {
        font-size: 0.875rem;
        max-width: 80px;
      }
    }

  }
}