@import "/src/scss/assets/vars";

.hero {
  position: relative;

  .container {
    display: flex;
    align-items: flex-end;
    height: 511px;
    background-image: url('../../assets/hero.png');
    background-position: center;
  }
  
  &-wrapper {
    padding: 0 4rem;
    justify-content: space-between !important;
    width: 100%;
  }

  h1 {
    font-size: $fs-xl;
    color: $clr-white;
    text-transform: capitalize;
    font-family: $ff-secondary;
    font-weight: 400;

    background: #FFFFFF;
    background: linear-gradient(180deg, #ffffff 10%, #b41313 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-image {
    max-width: 284px;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .hero {

    &-image {
      max-width: 200px;
    }
  }
}

@media (max-width: 768px) {
  .hero {

    .container {
      height: 390px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-wrapper {
      padding: 0;
      width: 100%;
      justify-content: space-between !important;
    }

    h1 {
      font-size: 2rem;
    }

    &-image {
      max-width: 84px;
    }
  }
}
