@import '/src/scss/assets/vars';

.working-on {

  &-wrapper {
    background-image: url('/src/assets/working-on-bg.png');
    background-position: center;
    background-size: cover;
    padding: 4rem;
  }

  &-item {
    margin-top: 90px;

    &:first-of-type {
      margin-top: 0;
    }

    h2 {
      margin: 0 0 45px 0;
      font-size: 2.25rem;
      font-weight: 400;
    }

    .flex-row {
      justify-content: flex-start !important;
    }

    p {
      margin-left: 60px;
      max-width: 554px;
      color: $clr-red;
      font-size: 2rem;
    }

    img {
      max-width: 500px;
    }
  }
}

@media (max-width: 1024px) {
  .working-on {

    &-item {
      text-align: center;

      .flex-row {
        flex-direction: column !important;
      }

      img {
        max-width: 350px;
      }

      p {
        font-size: $fs-medium;
      }
    }
  }
}

@media (max-width: 480px) {
  .working-on {

    &-item {

      h2 {
        font-size: 1.25rem;
      }

      .flex-row {
        width: 100%;
      }

      p {
        margin: 35px 0;
        font-size: 1rem;
        width: 100%;
      }

      img {
        max-width: 260px;
      }
    }
  }
}