.Popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;  
  z-index: 1000000;
  background-color: rgba(42, 105, 156, 0.295);
  opacity: 0;
  transition: .3s;
  pointer-events: none;
}

.Popup.active {
  opacity: 1;
}

.Popup-wrapper {
  padding: 1rem;
  border: 1px solid;
  background-color: rgb(58, 124, 121);
}

.Popup-button {
  display: block;
  margin: 1rem auto .25rem;
  padding: .25rem 1rem;
  border: none;
  border: 1px solid;
  cursor: pointer;
  font-family: 'open-sans-bold';
  background-color: #2b2b2b;
  color: rgb(255, 254, 213);
}