$ff-primary: 'racing-sans-one', cursive;
$ff-secondary: 'sedgwick', cursive;

$fs-regular: 1.25rem;
$fs-medium: 1.68rem;
$fs-xl: 4rem;

$clr-white: #FFFFFF;
$clr-whiteFaded: #ffffff94;
$clr-red: #fc0000;
$clr-darkGrey: #464343;