@import '/src/scss/assets/vars';

.podcasts {
  
  &-paragraph {
    margin: 60px 0;
    max-width: 530px;
    font-size: calc(2rem + 2px);
    line-height: 45px;
  }

  &-podcast {

    h3 {
      font-size: calc(2rem + 2px);
      font-weight: 400;
      color: $clr-red;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 1120px) {
  .podcasts {

    &-slider {
      img {
        width: 130px !important;
      }
    }
  }
}

@media (max-width: 1024px) {
  .podcasts {

    &-paragraph {
      font-size: $fs-medium;
    }

    &-podcast {

      h3 {
        font-size: $fs-medium;
      }
    }
  }
}

@media (max-width: 900px) {
  .podcasts {
    
    &-slider {
      margin: 8rem 0 0;
    }
  }
}

@media (max-width: 730px) {
  .podcasts {
    &-slider{

      img {
        width: 100px;
      }
    }
  }
}

@media (max-width: 480px) {
  .podcasts {

    &-podcast {

      h3 {
        font-size: 1.25rem;
      }
    }
  }
}