@import '/src/scss/assets/vars';

.mobile {
  margin: 2rem 0;
  position: relative;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  height: 500px;

  &-object {
    height: 100%;
  }

  &-details {
    margin: 80px 0 0 133px;
    align-items: flex-start !important;
    font-size: 2rem;
    max-width: 550px;

    a {
      text-decoration: underline;
    }
    
    span {
      margin-top: 42px;
    }
  }
}

@media (max-width: 1024px) {
  .mobile {

    &-details {
      font-size: $fs-medium;
    }
  }
}

@media (max-width: 480px) {
  .mobile {
    flex-direction: column !important;

    &-details {
      margin: 80px 0;
      font-size: 1.25rem;
    }
  }
}