@import '/src/scss/assets/vars';

.mobile {
  margin: 2rem 0;
  position: relative;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  height: 500px;

  &-object {
    // height: 100%;
  }

  &-details {
    margin: 80px 0 0 133px;
    align-items: flex-start !important;
    font-size: 2rem;
    max-width: 550px;
    
    span {
      margin-top: 42px;
    }
  }
}